<form action="/favourite" method="POST">
  <button
    type="submit"
    class="px-10 py-2 bg-purple-500 text-white rounded duration-300 hover:bg-purple-950 cursor-pointer w-full"
  >
    Add to Fav
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
