<header class="p-8 bg-teal-200 space-x-3">
  <a href="/" class="hover:text-teal-700 hover:underline">Go to Home</a>
  <a href="/host/add-home" class="hover:text-teal-700 hover:underline"
    >Add Home</a
  >
</header>
