<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Bookings</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <main class="max-w-7xl mx-auto mt-16 shadow-md shadow-teal-100 p-8">
      <h1 class="text-teal-600 font-semibold text-center">My Bookings</h1>
      <h4 class="my-3 font-medium text-gray-600">
        Here are out registered homes:
      </h4>
    </main>
  </body>
</html>
